<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="templates/main.css">
</head>
<body>
<div>
    <div class="tree" style="width: 30%">{{ header }}</div>
    <div class="table" style="width: 50%">
        {% for role in roles %}
            <div class="role-header">{{ role }}</div>
        {% endfor %}
    </div>
</div>

<div class="tree" style="width: 30%">
    {% include 'tree.html.twig' with {'data': data, 'class': 'tree'} %}
</div>

<div class="table" style="width: 50%">
    {% include 'tree.html.twig' with {'data': data, 'class': 'table'} %}
</div>

</body>
</html>
