ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

div.role, div.role-header {
    display: inline-block;
    text-align: center;
    width: 110px;
}

div.table, div.tree {
    display: inline-block;
}

div.table > ul li {
    border: 1px solid transparent;
    border-width: 0 0 1px 1px;
}

div.table > ul li div {
    position: relative;
    top: 1.2em;
    height: 2em;
}

div.table > ul li.container {
    border-bottom: 0px;
}

div.table > ul li ul {
    border-top: 1px solid transparent;
    border-width: 1px;
}

div.tree > ul {
    padding-left: 1em;
}

div.tree > ul li {
    padding-left: 1em;
    border: 1px solid black;
    border-width: 0 0 1px 1px;
}

div.tree > ul li.container {
    border-bottom: 0px;
}

div.tree > ul li div {
    background: white;
    position: relative;
    padding-left: 0.3em;
    top: 1.25em;
    height: 2em;
    left: 0.5em;
}

div.tree > ul li ul {
    border-top: 1px solid black;
    margin-left: -1em;
    padding-left: 2em;
}

div.tree > ul li:last-child > ul {
    border-left: 1px solid white;
    margin-left: -17px;
}