<ul>
    {% for row in data %}
        {% if row.children is empty %}
            <li>{% include (class == 'tree' ? 'item' : 'role')~'.html.twig' with {'row': row} %}</li>
        {% else %}
            <li class="container">{% include (class == 'tree' ? 'item' : 'role')~'.html.twig' with {'row': row} %}
                {% include 'tree.html.twig' with {'data': row.children} %}
            </li>
        {% endif %}
    {% endfor %}
</ul>